Repository MPAS-Dev/compass, pull requests merged in 2021-11, with the labels that each got.

#268 Threshold Levels for circularshelf_decompostion_test
  compass/landice/tests/circular_shelf/decomposition_test/__init__.py
Labels: bug, land ice

#267 Add RPE analysis to RPE tests
  compass/ocean/rpe.py
  compass/ocean/tests/baroclinic_channel/rpe_test/analysis.py
  compass/ocean/tests/baroclinic_channel/rpe_test/streams.forward
  compass/ocean/tests/internal_wave/rpe_test/analysis.py
  compass/ocean/tests/internal_wave/rpe_test/streams.forward
Labels: enhancement, ocean

#269 Update to mache>=1.1.4
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/recipe/meta.yaml
Labels: python package, conda

#250 Add method for updating streams files at runtime
  compass/step.py
  docs/developers_guide/api.rst
  docs/developers_guide/organization.rst
Labels: enhancement, python package, framework

#238 Add a planar convergence test group
  compass/ocean/__init__.py
  compass/ocean/tests/planar_convergence/__init__.py
  compass/ocean/tests/planar_convergence/conv_analysis.py
  compass/ocean/tests/planar_convergence/conv_init.py
  compass/ocean/tests/planar_convergence/conv_test_case.py
  compass/ocean/tests/planar_convergence/forward.py
  compass/ocean/tests/planar_convergence/horizontal_advection/__init__.py
  compass/ocean/tests/planar_convergence/horizontal_advection/analysis.py
  compass/ocean/tests/planar_convergence/horizontal_advection/horizontal_advection.cfg
  compass/ocean/tests/planar_convergence/horizontal_advection/init.py
  compass/ocean/tests/planar_convergence/namelist.forward
  compass/ocean/tests/planar_convergence/planar_convergence.cfg
  compass/ocean/tests/planar_convergence/streams.forward
  compass/ocean/tests/planar_convergence/streams.template
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/planar_convergence.rst
  docs/users_guide/ocean/test_groups/images/horizontal_advection_convergence.png
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/planar_convergence.rst
Labels: enhancement, ocean, python package

#274 Fix machine name arg in conda configure script
  conda/bootstrap.py
Labels: bug, conda

#265 Add pass/fail convergence test for ocean test cases
  compass/ocean/tests/global_convergence/cosine_bell/analysis.py
  compass/ocean/tests/global_convergence/cosine_bell/cosine_bell.cfg
  compass/ocean/tests/sphere_transport/correlated_tracers_2d/analysis.py
  compass/ocean/tests/sphere_transport/correlated_tracers_2d/correlated_tracers_2d.cfg
  compass/ocean/tests/sphere_transport/divergent_2d/analysis.py
  compass/ocean/tests/sphere_transport/divergent_2d/divergent_2d.cfg
  compass/ocean/tests/sphere_transport/nondivergent_2d/analysis.py
  compass/ocean/tests/sphere_transport/nondivergent_2d/nondivergent_2d.cfg
  compass/ocean/tests/sphere_transport/rotation_2d/analysis.py
  compass/ocean/tests/sphere_transport/rotation_2d/rotation_2d.cfg
Labels: ocean, python package

#277 Add `--use_local` flag to conda configure script
  conda/bootstrap.py
  conda/shared.py
Labels: python package, conda

#278 Update to MPAS-Toos 0.12.0
  conda/compass_env/spec-file.template
  conda/pnetcdf/ci/linux_mpi_mpich.yaml
  conda/pnetcdf/ci/linux_mpi_openmpi.yaml
  conda/pnetcdf/ci/osx_mpi_mpich.yaml
  conda/pnetcdf/ci/osx_mpi_openmpi.yaml
  conda/pnetcdf/recipe/meta.yaml
  conda/recipe/meta.yaml
  conda/scorpio/ci/linux_mpi_mpich.yaml
  conda/scorpio/ci/linux_mpi_openmpi.yaml
  conda/scorpio/ci/osx_mpi_mpich.yaml
  conda/scorpio/ci/osx_mpi_openmpi.yaml
  conda/scorpio/recipe/meta.yaml
Labels: python package, conda
