Repository MPAS-Dev/compass, pull requests merged in 2021-10, with the labels that each got.

#249 Add internal wave test
  .gitignore
  compass/ocean/__init__.py
  compass/ocean/tests/internal_wave/__init__.py
  compass/ocean/tests/internal_wave/default/__init__.py
  compass/ocean/tests/internal_wave/forward.py
  compass/ocean/tests/internal_wave/initial_state.py
  compass/ocean/tests/internal_wave/internal_wave.cfg
  compass/ocean/tests/internal_wave/namelist.forward
  compass/ocean/tests/internal_wave/namelist.init
  compass/ocean/tests/internal_wave/rpe_test/__init__.py
  compass/ocean/tests/internal_wave/rpe_test/analysis.py
  compass/ocean/tests/internal_wave/rpe_test/namelist.forward
  compass/ocean/tests/internal_wave/rpe_test/streams.forward
  compass/ocean/tests/internal_wave/streams.forward
  compass/ocean/tests/internal_wave/streams.init
  compass/ocean/tests/internal_wave/ten_day_test/__init__.py
  compass/ocean/tests/internal_wave/ten_day_test/namelist.forward
  compass/ocean/tests/internal_wave/ten_day_test/streams.forward
  compass/ocean/tests/internal_wave/viz.py
  docs/developers_guide/ocean/test_groups/internal_wave.rst
  docs/users_guide/ocean/test_groups/images/internal_wave.png
  docs/users_guide/ocean/test_groups/internal_wave.rst
Labels: enhancement, ocean, python package

#251 Add a few missing pieces to internal_wave docs
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/index.rst
Labels: bug, documentation, ocean, python package

#243 Print but don't raise errors in validation
  compass/validate.py
Labels: bug, python package, framework

#258 Add a version of ISOMIP+ test cases with time-varying ice-shelf thickness (pressure)
  compass/ocean/tests/isomip_plus/__init__.py
  compass/ocean/tests/isomip_plus/forward.py
  compass/ocean/tests/isomip_plus/initial_state.py
  compass/ocean/tests/isomip_plus/isomip_plus.cfg
  compass/ocean/tests/isomip_plus/namelist.time_varying_forcing
  compass/ocean/tests/isomip_plus/ocean_test/__init__.py
  compass/ocean/tests/isomip_plus/streams.time_varying_forcing
  docs/developers_guide/ocean/test_groups/isomip_plus.rst
  docs/users_guide/ocean/test_groups/isomip_plus.rst
Labels: enhancement, ocean, python package
