Repository MPAS-Dev/compass, pull requests merged in 2021-01, with the labels that each got.

#40 Small changes to compile instructions. Note on Intel 19 & PIO2.
  docs/machine_specific_instructions/lanl.rst
  docs/machine_specific_instructions/nersc.rst
Labels: documentation

#37 New Mesh: SOwISC12to60E2r4
  ocean/global_ocean/SO60to10wISC/init/config_e3sm_coupling.xml
  ocean/global_ocean/SO60to10wISC/init/greenland.geojson
  ocean/global_ocean/SO60to10wISC/init/north_mid_res_region.geojson
  ocean/global_ocean/SOwISC12to60/files_for_e3sm/config_driver.xml
  ocean/global_ocean/SOwISC12to60/files_for_e3sm/config_files_for_e3sm.ini
  ocean/global_ocean/SOwISC12to60/files_for_e3sm/config_files_for_e3sm.xml
  ocean/global_ocean/SOwISC12to60/init/atlantic.geojson
  ocean/global_ocean/SOwISC12to60/init/build_base_mesh.py
  ocean/global_ocean/SOwISC12to60/init/config_base_mesh.xml
  ocean/global_ocean/SOwISC12to60/init/config_culled_mesh.xml
  ocean/global_ocean/SOwISC12to60/init/config_driver_init.xml
  ocean/global_ocean/SOwISC12to60/init/config_initial_state.xml
  ocean/global_ocean/SOwISC12to60/init/config_ssh_adjustment.xml
  ocean/global_ocean/SOwISC12to60/init/config_test.xml
  ocean/global_ocean/SOwISC12to60/init/define_vertical_grid.py
  ocean/global_ocean/SOwISC12to60/init/high_res_region.geojson
  ocean/global_ocean/SOwISC12to60/spin_up/config_driver.xml
  ocean/global_ocean/SOwISC12to60/spin_up/config_prep_spin_up1.xml
  ocean/global_ocean/SOwISC12to60/spin_up/config_prep_spin_up2.xml
  ocean/global_ocean/SOwISC12to60/spin_up/config_prep_spin_up3.xml
  ocean/global_ocean/SOwISC12to60/spin_up/config_simulation.xml
  ocean/global_ocean/SOwISC12to60/template_forward.xml
  ocean/global_ocean/SOwISC12to60/template_initial_state.xml
  ocean/global_ocean/scripts/create_E3SM_coupling_files.py
Labels: enhancement, new mesh, ocean

#41 Fix missing --ice_shelf_cavities flag
  ocean/global_ocean/EC60to30wISC/files_for_e3sm/config_files_for_e3sm.xml
  ocean/global_ocean/SOwISC12to60/files_for_e3sm/config_files_for_e3sm.xml
Labels: bug, ocean

#42 Fix a bug in the marsh_flooding/idealized_transect case
  ocean/drying_slope/marsh_flooding/idealized_transect/config_analysis.xml
  ocean/drying_slope/marsh_flooding/idealized_transect/config_forward1.xml
  ocean/drying_slope/marsh_flooding/idealized_transect/config_forward2.xml
  ocean/drying_slope/marsh_flooding/idealized_transect/config_forward3.xml
Labels: bug, ocean

#45 Add landIceMask to sea ice IC
  ocean/global_ocean/scripts/create_E3SM_coupling_files.py
Labels: bug, ocean

#47 Add support for the legacy branch to CI
  README.md
  azure-pipelines.yml
Labels: ci only, documentation

#48 Add support for the legacy branch to CI
  README.md
  azure-pipelines.yml
Labels: ci only, documentation

#49 Update legacy docs
  docs/conf.py
  docs/index.rst
  docs/ocean/test_cases/isomip_plus.rst
  docs/ocean/test_cases/isomip_plus_at_lanl.rst
  docs/users_guide/overview.rst
  docs/versions.rst
Labels: documentation, legacy
