Repository MPAS-Dev/compass, pull requests merged in 2022-12, with the labels that each got.

#464 Add a recipe for OSU tidal prediction software
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/otps/ci/linux.yaml
  conda/otps/ci/osx.yaml
  conda/otps/recipe/build.sh
  conda/otps/recipe/meta.yaml
  conda/recipe/meta.yaml
Labels: deployment

#468 Switch Chrysalis Intel to use OpenMPI by default
  compass/machines/chrysalis.cfg
Labels: deployment

#467 Clean up ISOMIP+
  compass/ocean/tests/isomip_plus/__init__.py
  compass/ocean/tests/isomip_plus/geom.py
  compass/ocean/tests/isomip_plus/initial_state.py
  compass/ocean/tests/isomip_plus/isomip_plus_test.py
  compass/ocean/tests/isomip_plus/namelist.thin_film.forward_and_ssh_adjust
  compass/ocean/tests/isomip_plus/ssh_adjustment.py
  compass/ocean/tests/isomip_plus/streamfunction.py
  compass/ocean/tests/isomip_plus/viz/__init__.py
  compass/ocean/tests/isomip_plus/viz/plot.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/isomip_plus.rst
Labels: ocean, clean-up

#473 Update to 1.2.0-alpha.3 with mache 1.9.0
  compass/machines/anvil.cfg
  compass/machines/compy.cfg
  compass/version.py
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/petsc_supported.txt
  conda/recipe/meta.yaml
  docs/developers_guide/machines/anvil.rst
  docs/developers_guide/machines/chrysalis.rst
  docs/developers_guide/machines/index.rst
  docs/users_guide/machines/anvil.rst
  docs/users_guide/machines/chrysalis.rst
Labels: deployment

#460 Add SO12to60E2r5 (without ice-shelf cavities)
  compass/mesh/mesh.cfg
  compass/mesh/spherical.py
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/global_ocean/mesh/so12to60/__init__.py
  compass/ocean/tests/global_ocean/mesh/so12to60/high_res_region.geojson
  compass/ocean/tests/global_ocean/mesh/so12to60/so12to60.cfg
  compass/ocean/tests/global_ocean/mesh/wc14/__init__.py
  compass/ocean/tests/global_ocean/mesh/wc14/wc14.cfg
Labels: new mesh, ocean

#475 Fix typo in hurrincane init plotting
  compass/ocean/tests/hurricane/init/interpolate_atm_forcing.py
Labels: bug, ocean

#476 Constrain shapely
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
Labels: deployment

#477 Update hdf5 in pnetcdf and scorpio packages to match conda-forge
  conda/pnetcdf/ci/linux_mpi_mpich.yaml
  conda/pnetcdf/ci/linux_mpi_openmpi.yaml
  conda/pnetcdf/ci/osx_mpi_mpich.yaml
  conda/pnetcdf/ci/osx_mpi_openmpi.yaml
  conda/pnetcdf/recipe/meta.yaml
  conda/scorpio/ci/linux_mpi_mpich.yaml
  conda/scorpio/ci/linux_mpi_openmpi.yaml
  conda/scorpio/ci/osx_mpi_mpich.yaml
  conda/scorpio/ci/osx_mpi_openmpi.yaml
  conda/scorpio/recipe/meta.yaml
Labels: deployment

#451 Bugfix for dam break tests
  compass/ocean/tests/dam_break/default/__init__.py
  compass/ocean/tests/dam_break/namelist.forward
  compass/ocean/tests/dam_break/streams.init
Labels: bug, ocean, E3SM PR finished

#456 Add tides test case
  compass/ocean/__init__.py
  compass/ocean/tests/tides/__init__.py
  compass/ocean/tests/tides/analysis/__init__.py
  compass/ocean/tests/tides/configure.py
  compass/ocean/tests/tides/forward/__init__.py
  compass/ocean/tests/tides/forward/forward.py
  compass/ocean/tests/tides/forward/namelist.ocean
  compass/ocean/tests/tides/forward/streams.ocean
  compass/ocean/tests/tides/init/__init__.py
  compass/ocean/tests/tides/init/dem_pixel.py
  compass/ocean/tests/tides/init/dem_remap.py
  compass/ocean/tests/tides/init/dem_trnsf.py
  compass/ocean/tests/tides/init/initial_state.py
  compass/ocean/tests/tides/init/interpolate_wave_drag.py
  compass/ocean/tests/tides/init/namelist.init
  compass/ocean/tests/tides/init/remap_bathymetry.py
  compass/ocean/tests/tides/init/streams.init
  compass/ocean/tests/tides/mesh/__init__.py
  compass/ocean/tests/tides/mesh/icos7/__init__.py
  compass/ocean/tests/tides/mesh/icos7/icos7.cfg
  compass/ocean/tests/tides/mesh/icos7/namelist.ocean
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/tides.rst
  docs/users_guide/ocean/test_groups/images/M2_plot.png
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/tides.rst
  setup.py
Labels: enhancement, ocean, E3SM PR finished

#478 Fix provenance when E3SM submodule not needed
  compass/provenance.py
Labels: bug, framework

#479 Add `database_component` parameter for input files
  compass/database_subdirs.json
  compass/io.py
  compass/landice/landice.cfg
  compass/landice/tests/enthalpy_benchmark/A/__init__.py
  compass/landice/tests/enthalpy_benchmark/B/__init__.py
  compass/machines/anvil.cfg
  compass/machines/chrysalis.cfg
  compass/machines/compy.cfg
  compass/machines/cori-haswell.cfg
  compass/machines/pm-cpu.cfg
  compass/ocean/ocean.cfg
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/step.py
  docs/developers_guide/api.rst
  docs/developers_guide/framework.rst
  docs/developers_guide/organization.rst
  docs/users_guide/config_files.rst
  docs/users_guide/landice/test_groups/ismip6_forcing.rst
  docs/users_guide/machines/anvil.rst
  docs/users_guide/machines/chrysalis.rst
  docs/users_guide/machines/compy.rst
  docs/users_guide/machines/cori.rst
  docs/users_guide/machines/index.rst
  docs/users_guide/machines/perlmutter.rst
  docs/users_guide/quick_start.rst
  example_configs/example.cfg
  example_configs/landice.cfg
  example_configs/ocean.cfg
Labels: clean-up, framework

#484 Remove critical passages stream for tides init
  compass/ocean/tests/tides/init/streams.init
Labels: bug, ocean

#481 Override `constrain_resources()` in individual steps
  compass/ocean/tests/global_convergence/cosine_bell/__init__.py
  compass/ocean/tests/global_convergence/cosine_bell/forward.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/init/__init__.py
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/ssh_adjustment.py
  compass/ocean/tests/hurricane/forward/__init__.py
  compass/ocean/tests/hurricane/forward/forward.py
  compass/ocean/tests/hurricane/init/__init__.py
  compass/ocean/tests/hurricane/init/initial_state.py
  compass/ocean/tests/isomip_plus/forward.py
  compass/ocean/tests/isomip_plus/isomip_plus_test.py
  compass/ocean/tests/isomip_plus/ssh_adjustment.py
  compass/ocean/tests/planar_convergence/conv_test_case.py
  compass/ocean/tests/planar_convergence/forward.py
  compass/ocean/tests/sphere_transport/correlated_tracers_2d/__init__.py
  compass/ocean/tests/sphere_transport/correlated_tracers_2d/forward.py
  compass/ocean/tests/sphere_transport/correlated_tracers_2d/namelist.forward
  compass/ocean/tests/sphere_transport/divergent_2d/__init__.py
  compass/ocean/tests/sphere_transport/divergent_2d/forward.py
  compass/ocean/tests/sphere_transport/divergent_2d/namelist.forward
  compass/ocean/tests/sphere_transport/nondivergent_2d/__init__.py
  compass/ocean/tests/sphere_transport/nondivergent_2d/forward.py
  compass/ocean/tests/sphere_transport/nondivergent_2d/namelist.forward
  compass/ocean/tests/sphere_transport/rotation_2d/__init__.py
  compass/ocean/tests/sphere_transport/rotation_2d/forward.py
  compass/ocean/tests/sphere_transport/rotation_2d/namelist.forward
  compass/ocean/tests/tides/forward/forward.py
  compass/ocean/tests/tides/init/initial_state.py
  compass/run/serial.py
Labels: ocean, framework

#486 Remove xtime variable from ocean climatology
  compass/landice/tests/ismip6_forcing/ocean_thermal/process_thermal_forcing.py
Labels: bug, land ice

#465 Add an option to process 4-km resolution forcing files
  compass/landice/tests/ismip6_forcing/atmosphere/process_smb.py
Labels: enhancement, land ice

#487 Disable otps on OSX
  conda/bootstrap.py
  conda/compass_env/spec-file.template
Labels: bug, deployment
