Repository MPAS-Dev/compass, pull requests merged in 2022-01, with the labels that each got.

#297 updating 20 km greenland file to new version
  compass/landice/tests/greenland/run_model.py
Labels: land ice

#300 Add an error message if user config not found
  compass/setup.py
Labels: bug, python package, framework

#302 Fix check for missing config file
  compass/setup.py
Labels: bug, python package, framework

#301 Add a description on the path to config files
  docs/developers_guide/quick_start.rst
Labels: documentation, python package

#307 Fix `config_mom_del2` for the WC14 mesh
  compass/ocean/tests/global_ocean/mesh/wc14/namelist.split_explicit
Labels: bug, ocean, python package

#305 Fix location for mpas-seaice initial condition
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_initial_condition.py
Labels: bug, ocean, clean-up, python package
