Repository MPAS-Dev/compass, pull requests merged in 2022-05, with the labels that each got.

#382 Fix missing output for daily stats test
  compass/ocean/tests/global_ocean/daily_output_test/__init__.py
Labels: bug, ocean

#384 Fix config section name for humboldt_mesh
  compass/landice/tests/humboldt/mesh.py
Labels: bug, land ice

#387 Update default thwaites high_res_mesh config options
  compass/landice/tests/thwaites/high_res_mesh/high_res_mesh.cfg
  compass/landice/tests/thwaites/mesh.py
Labels: land ice, clean-up

#385 Add Kangerlussuaq test group and mesh generation test case
  compass/landice/__init__.py
  compass/landice/tests/kangerlussuaq/Kangerlussuaq.geojson
  compass/landice/tests/kangerlussuaq/__init__.py
  compass/landice/tests/kangerlussuaq/mesh.py
  compass/landice/tests/kangerlussuaq/mesh_gen/__init__.py
  compass/landice/tests/kangerlussuaq/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/humboldt.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/developers_guide/landice/test_groups/kangerlussuaq.rst
  docs/users_guide/landice/test_groups/humboldt.rst
  docs/users_guide/landice/test_groups/images/kangerlussuaq_1to10km.png
  docs/users_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/kangerlussuaq.rst
Labels: land ice

#388 Add koge bugt s test group
  compass/landice/__init__.py
  compass/landice/tests/koge_bugt_s/Koge_Bugt_S.geojson
  compass/landice/tests/koge_bugt_s/__init__.py
  compass/landice/tests/koge_bugt_s/mesh.py
  compass/landice/tests/koge_bugt_s/mesh_gen/__init__.py
  compass/landice/tests/koge_bugt_s/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/developers_guide/landice/test_groups/koge_bugt_s.rst
  docs/users_guide/landice/test_groups/images/koge_bugt_s_500m_to_4km.png
  docs/users_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/koge_bugt_s.rst
Labels: land ice

#348 Add tests for spherical harmonic transforms
  compass/ocean/__init__.py
  compass/ocean/tests/spherical_harmonic_transform/__init__.py
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/__init__.py
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/analysis.py
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/init.py
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/mesh.py
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/namelist.init
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/qu_convergence.cfg
  compass/ocean/tests/spherical_harmonic_transform/qu_convergence/streams.init
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/spherical_harmonic_transform.rst
  docs/users_guide/ocean/test_groups/images/spherical_harmonic_transform_convergence.png
  docs/users_guide/ocean/test_groups/images/spherical_harmonic_transform_qu_function.png
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/spherical_harmonic_transform.rst
Labels: ocean, E3SM PR finished

#389 Many fixes to the documentation
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/kangerlussuaq.rst
  docs/developers_guide/landice/test_groups/koge_bugt_s.rst
  docs/users_guide/landice/test_groups/kangerlussuaq.rst
  docs/users_guide/landice/test_groups/koge_bugt_s.rst
  docs/users_guide/quick_start.rst
Labels: bug, deployment

#391 Constrain mache version exactly
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/recipe/meta.yaml
Labels: bug, deployment

#392 Add PETSc and Netlib-LAPACK to Spack
  compass/version.py
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/default.cfg
  conda/recipe/meta.yaml
  conda/shared.py
  conda/spack/badger_gnu_mvapich.yaml
  conda/spack/badger_gnu_openmpi.yaml
  docs/developers_guide/quick_start.rst
Labels: enhancement, deployment

#393 Add cfchecker and udunits2 to conda environment
  conda/compass_env/spec-file.template
Labels: deployment

#394 Remove hyphens from some global ocean attributes
  compass/ocean/tests/global_ocean/metadata.py
Labels: ocean, clean-up

#395 Ignore fill values during variable validation
  compass/validate.py
Labels: bug, framework

#396 Add a flag to prevent the compass package from being reinstalled with the load script
  conda/bootstrap.py
  utils/matrix/setup_matrix.py
Labels: deployment, utility

#401 Optionally run steps as subprocesses
  compass/run/serial.py
  compass/step.py
  compass/testcase.py
  docs/developers_guide/organization.rst
Labels: enhancement, framework
