Repository MPAS-Dev/compass, pull requests merged in 2022-02, with the labels that each got.

#272 Add Humboldt test group
  compass/landice/__init__.py
  compass/landice/tests/humboldt/Humboldt.geojson
  compass/landice/tests/humboldt/__init__.py
  compass/landice/tests/humboldt/default/__init__.py
  compass/landice/tests/humboldt/humboldt.cfg
  compass/landice/tests/humboldt/mesh.py
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/humboldt.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/humboldt.rst
  docs/users_guide/landice/test_groups/images/humboldt_1to10km.png
  docs/users_guide/landice/test_groups/index.rst
Labels: land ice, python package

#311 Constrain `scipy <1.8.0`
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  setup.py
Labels: conda

#313 Constrain pyamg (instead of scipy)
  azure-pipelines.yml
  ci/generate.py
  ci/mpi_mpich.yaml
  ci/mpi_mpich_python3.10.yaml
  ci/mpi_mpich_python3.7.yaml
  ci/mpi_mpich_python3.8.yaml
  ci/mpi_mpich_python3.9.yaml
  ci/mpi_nompi.yaml
  ci/mpi_nompi_python3.10.yaml
  ci/mpi_nompi_python3.7.yaml
  ci/mpi_nompi_python3.8.yaml
  ci/mpi_nompi_python3.9.yaml
  ci/mpi_openmpi.yaml
  ci/mpi_openmpi_python3.10.yaml
  ci/mpi_openmpi_python3.7.yaml
  ci/mpi_openmpi_python3.8.yaml
  ci/mpi_openmpi_python3.9.yaml
  ci/template.yaml
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  setup.py
Labels: python package, conda

#314 Update mpas_tools to v0.13.0
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
Labels: python package, conda

#294 Update User's Guide for 1.0.0 release
  compass/machines/chrysalis.cfg
  docs/conf.py
  docs/developers_guide/command_line.rst
  docs/developers_guide/quick_start.rst
  docs/users_guide/config_files.rst
  docs/users_guide/machines/anvil.rst
  docs/users_guide/machines/badger.rst
  docs/users_guide/machines/chrysalis.rst
  docs/users_guide/machines/compy.rst
  docs/users_guide/machines/cori.rst
  docs/users_guide/machines/index.rst
  docs/users_guide/machines/linux.rst
  docs/users_guide/machines/osx.rst
  docs/users_guide/quick_start.rst
  docs/users_guide/test_cases.rst
  docs/users_guide/test_suites.rst
Labels: documentation, python package

#317 Fix `initial_state` docstring in `global_ocean`
  compass/ocean/tests/global_ocean/init/initial_state.py
Labels: bug, documentation, ocean, python package

#312 Add logging of calls to run() and validate() methods
  compass/logging.py
  compass/run.py
  compass/testcase.py
  docs/developers_guide/api.rst
Labels: python package, framework

#306 Add 2.5km, 5km and 10 km resolutions to ZISO test group
  compass/ocean/tests/ziso/__init__.py
  compass/ocean/tests/ziso/default/default.cfg
  compass/ocean/tests/ziso/forward.py
  compass/ocean/tests/ziso/namelist.10km.forward
  compass/ocean/tests/ziso/namelist.20km.forward
  compass/ocean/tests/ziso/namelist.analysis
  compass/ocean/tests/ziso/namelist.particles
  compass/ocean/tests/ziso/streams.20km.forward
  compass/ocean/tests/ziso/streams.analysis
  compass/ocean/tests/ziso/streams.forward
  compass/ocean/tests/ziso/streams.particles
  compass/ocean/tests/ziso/with_frazil/__init__.py
  compass/ocean/tests/ziso/ziso_test_case.py
Labels: enhancement, ocean, python package

#315 Generalize flood-fill routine for use by multiple test groups
  compass/landice/mesh.py
  compass/landice/tests/humboldt/mesh.py
Labels: land ice, clean-up, python package

#108 Add merry-go-round test case for vertical and horizontal advection
  ocean/merry_go_round/100Cells/default/add_initial_state.py
  ocean/merry_go_round/100Cells/default/build_base_mesh.py
  ocean/merry_go_round/100Cells/default/config_base_mesh.xml
  ocean/merry_go_round/100Cells/default/config_driver.xml
  ocean/merry_go_round/100Cells/default/config_forward.xml
  ocean/merry_go_round/100Cells/default/config_initial_state.xml
  ocean/merry_go_round/100Cells/default/config_visualize.xml
  ocean/merry_go_round/100Cells/default/fromSide.py
  ocean/merry_go_round/200Cells/default/add_initial_state.py
  ocean/merry_go_round/200Cells/default/build_base_mesh.py
  ocean/merry_go_round/200Cells/default/config_base_mesh.xml
  ocean/merry_go_round/200Cells/default/config_driver.xml
  ocean/merry_go_round/200Cells/default/config_forward.xml
  ocean/merry_go_round/200Cells/default/config_initial_state.xml
  ocean/merry_go_round/200Cells/default/config_visualize.xml
  ocean/merry_go_round/200Cells/default/fromSide.py
  ocean/merry_go_round/400Cells/default/add_initial_state.py
  ocean/merry_go_round/400Cells/default/build_base_mesh.py
  ocean/merry_go_round/400Cells/default/config_base_mesh.xml
  ocean/merry_go_round/400Cells/default/config_driver.xml
  ocean/merry_go_round/400Cells/default/config_forward.xml
  ocean/merry_go_round/400Cells/default/config_initial_state.xml
  ocean/merry_go_round/400Cells/default/config_visualize.xml
  ocean/merry_go_round/400Cells/default/fromSide.py
  ocean/merry_go_round/analysis/default/compute_rmse.py
  ocean/merry_go_round/analysis/default/config_driver.xml
  ocean/merry_go_round/analysis/default/config_rmse.xml
  ocean/merry_go_round/templates/template_forward_merry.xml
Labels: ocean, legacy

#319 Add set_geom_points_and_edges() function
  compass/landice/mesh.py
  compass/landice/tests/humboldt/mesh.py
Labels: land ice, clean-up, python package

#321 Create set_cell_width() function
  compass/landice/mesh.py
  compass/landice/tests/humboldt/humboldt.cfg
  compass/landice/tests/humboldt/mesh.py
  docs/users_guide/landice/test_groups/humboldt.rst
Labels: land ice, clean-up, python package

#322 Create function to calculate distance to ice edge and grounding line
  compass/landice/mesh.py
  compass/landice/tests/humboldt/mesh.py
Labels: land ice, clean-up, python package
