Repository MPAS-Dev/compass, pull requests merged in 2022-03, with the labels that each got.

#327 Update to `mache >=1.2.1`
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/recipe/meta.yaml
Labels: python package, conda

#329 Increase `config_Redi_min_layers_diag_terms` to 8
  compass/ocean/tests/global_ocean/namelist.forward
Labels: bug, ocean, python package

#328 Add validation of max temp. during dynamic adjustment
  compass/ocean/tests/global_ocean/dynamic_adjustment.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
Labels: enhancement, ocean, python package

#271 Add Thwaites mesh creation step
  compass/landice/mesh.py
  compass/landice/tests/thwaites/__init__.py
  compass/landice/tests/thwaites/high_res_mesh/__init__.py
  compass/landice/tests/thwaites/high_res_mesh/high_res_mesh.cfg
  compass/landice/tests/thwaites/mesh.py
  compass/landice/tests/thwaites/thwaites_minimal.geojson
  docs/developers_guide/landice/test_groups/thwaites.rst
  docs/users_guide/landice/test_groups/thwaites.rst
Labels: land ice, python package

#330 Update module commands and env vars for new mache
  conda/bootstrap.py
  conda/compass_env/load_compass.template
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/recipe/meta.yaml
Labels: python package, conda

#310 Add bathymetry smoothing to global ocean init
  compass/ocean/tests/global_ocean/init/namelist.init
Labels: enhancement, ocean, python package, E3SM PR finished

#309 Turn on surface restoring for all dynamic adjustment
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu240/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu240/namelist.rk4
  compass/ocean/tests/global_ocean/mesh/qu240/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment/__init__.py
Labels: ocean, python package, E3SM PR finished

#332 Fix conda package string
  conda/recipe/meta.yaml
Labels: bug, python package, conda

#287 Add support for compass test release
  compass/default.cfg
  conda/bootstrap.py
  conda/compass_env/build.template
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/default.cfg
  conda/recipe/meta.yaml
  conda/shared.py
Labels: python package, conda

#334 Fix out-of-range problem with permissions progress bar
  conda/bootstrap.py
Labels: bug, python package, conda

#337 Update to mache>=1.3.2
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/recipe/meta.yaml
Labels: python package, conda

#338 Add dev tools to the conda package
  azure-pipelines.yml
  ci/generate.py
  ci/linux_mpi_mpich_python3.10.yaml
  ci/linux_mpi_mpich_python3.7.yaml
  ci/linux_mpi_mpich_python3.8.yaml
  ci/linux_mpi_mpich_python3.9.yaml
  ci/linux_mpi_nompi_python3.10.yaml
  ci/linux_mpi_nompi_python3.7.yaml
  ci/linux_mpi_nompi_python3.8.yaml
  ci/linux_mpi_nompi_python3.9.yaml
  ci/linux_mpi_openmpi_python3.10.yaml
  ci/linux_mpi_openmpi_python3.7.yaml
  ci/linux_mpi_openmpi_python3.8.yaml
  ci/linux_mpi_openmpi_python3.9.yaml
  ci/mpi_mpich_python3.10.yaml
  ci/mpi_mpich_python3.7.yaml
  ci/mpi_mpich_python3.8.yaml
  ci/mpi_mpich_python3.9.yaml
  ci/mpi_nompi_python3.10.yaml
  ci/mpi_nompi_python3.7.yaml
  ci/mpi_nompi_python3.8.yaml
  ci/mpi_nompi_python3.9.yaml
  ci/mpi_openmpi_python3.10.yaml
  ci/mpi_openmpi_python3.7.yaml
  ci/mpi_openmpi_python3.8.yaml
  ci/mpi_openmpi_python3.9.yaml
  ci/osx_mpi_mpich_python3.10.yaml
  ci/osx_mpi_mpich_python3.7.yaml
  ci/osx_mpi_mpich_python3.8.yaml
  ci/osx_mpi_mpich_python3.9.yaml
  ci/osx_mpi_nompi_python3.10.yaml
  ci/osx_mpi_nompi_python3.7.yaml
  ci/osx_mpi_nompi_python3.8.yaml
  ci/osx_mpi_nompi_python3.9.yaml
  ci/osx_mpi_openmpi_python3.10.yaml
  ci/osx_mpi_openmpi_python3.7.yaml
  ci/osx_mpi_openmpi_python3.8.yaml
  ci/osx_mpi_openmpi_python3.9.yaml
  ci/template.yaml
  ci/template_linux.yaml
  ci/template_osx.yaml
  conda/recipe/meta.yaml
Labels: python package, conda

#340 Add load package to compass
  compass/load/__init__.py
  compass/load/load_script.template
  conda/recipe/meta.yaml
  setup.py
Labels: python package, conda

#341 More updates and corrections to the documentation
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/soma.rst
  docs/developers_guide/ocean/test_groups/ziso.rst
  docs/users_guide/machines/anvil.rst
  docs/users_guide/machines/badger.rst
  docs/users_guide/machines/chrysalis.rst
  docs/users_guide/machines/compy.rst
  docs/users_guide/machines/cori.rst
  docs/users_guide/machines/grizzly.rst
  docs/users_guide/ocean/test_groups/ziso.rst
  docs/users_guide/quick_start.rst
Labels: documentation, python package

#342 A few more small fixes to the User's Guide
  docs/users_guide/machines/cori.rst
  docs/users_guide/machines/grizzly.rst
Labels: documentation, python package

#343 Update to 1.1.0-alpha.1
  compass/__init__.py
  compass/__main__.py
  compass/version.py
  conda/bootstrap.py
  conda/recipe/meta.yaml
  setup.py
Labels: python package
