Repository MPAS-Dev/compass, pull requests merged in 2022-09, with the labels that each got.

#433 Remove `dThreshMLD` validation from mixedLayerDepth AM
  compass/ocean/tests/global_ocean/analysis_test/__init__.py
Labels: ocean, clean-up

#417 Port legacy dam break test case
  compass/ocean/__init__.py
  compass/ocean/tests/dam_break/__init__.py
  compass/ocean/tests/dam_break/dam_break.cfg
  compass/ocean/tests/dam_break/default/__init__.py
  compass/ocean/tests/dam_break/forward.py
  compass/ocean/tests/dam_break/initial_state.py
  compass/ocean/tests/dam_break/namelist.forward
  compass/ocean/tests/dam_break/namelist.init
  compass/ocean/tests/dam_break/streams.forward
  compass/ocean/tests/dam_break/streams.init
  compass/ocean/tests/dam_break/viz/__init__.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/dam_break.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/dam_break.rst
  docs/users_guide/ocean/test_groups/images/dam_break_validation.png
  docs/users_guide/ocean/test_groups/index.rst
Labels: enhancement, ocean

#414 New Mesh: Add ARRM10to60E2r1 mesh
  compass/ocean/mesh/cull.py
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/configure.py
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/global_ocean/mesh/arrm10to60/Americas_land_mask.geojson
  compass/ocean/tests/global_ocean/mesh/arrm10to60/Atlantic_region.geojson
  compass/ocean/tests/global_ocean/mesh/arrm10to60/Europe_Africa_land_mask.geojson
  compass/ocean/tests/global_ocean/mesh/arrm10to60/__init__.py
  compass/ocean/tests/global_ocean/mesh/arrm10to60/arrm10to60.cfg
  compass/ocean/tests/global_ocean/mesh/arrm10to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/arrm10to60/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/arrm10to60/namelist.init
  compass/ocean/tests/global_ocean/mesh/arrm10to60/namelist.split_explicit
  compass/ocean/vertical/80layerE3SMv1.json
  compass/ocean/vertical/grid_1d.py
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  docs/developers_guide/organization.rst
  docs/users_guide/config_files.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: new mesh, ocean
