Repository MPAS-Dev/compass, pull requests merged in 2023-04, with the labels that each got.

#581 Switch to 64 vertical levels for 3 meshes
  compass/ocean/tests/global_ocean/mesh/arrm10to60/arrm10to60.cfg
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/ec30to60/ec30to60.cfg
  compass/ocean/tests/global_ocean/mesh/ec30to60/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/so12to60/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/so12to60/so12to60.cfg
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/wc14/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/wc14/wc14.cfg
  compass/ocean/vertical/grid_1d.py
  compass/ocean/vertical/grid_1d/__init__.py
  compass/ocean/vertical/grid_1d/index_tanh_dz.py
  compass/ocean/vertical/grid_1d/tanh_dz.py
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/framework/vertical.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#579 Add information on enabling hyperthreading to docs
  docs/developers_guide/machines/chicoma.rst
  docs/developers_guide/machines/perlmutter.rst
  docs/users_guide/machines/chicoma.rst
  docs/users_guide/machines/perlmutter.rst
Labels: documentation

#574 Update guidance on switching between branches
  docs/developers_guide/quick_start.rst
Labels: documentation

#566 Add bathymetry remapping
  compass/ocean/mesh/cull.py
  compass/ocean/mesh/remap_topography.cfg
  compass/ocean/mesh/remap_topography.py
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/streams.topo
  compass/ocean/tests/global_ocean/mesh/__init__.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/framework.rst
  docs/users_guide/ocean/framework/index.rst
  docs/users_guide/ocean/framework/mesh.rst
Labels: enhancement, ocean, E3SM PR finished

#406 Add region masks for MALI Antarctic mesh
  compass/landice/tests/antarctica/antarctica.cfg
  compass/landice/tests/antarctica/mesh.py
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/antarctica.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/antarctica.rst
  docs/users_guide/landice/test_groups/images/antarctica_8to80km.png
  docs/users_guide/landice/test_groups/index.rst
Labels: enhancement, land ice

#555 Update to v1.2.0-alpha.5
  .pre-commit-config.yaml
  compass/machines/chicoma-cpu.cfg
  compass/machines/cori-haswell.cfg
  compass/version.py
  conda/albany_supported.txt
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/default.cfg
  conda/petsc_supported.txt
  conda/recipe/meta.yaml
  conda/shared.py
  conda/unsupported.txt
  docs/design_docs/compass_package.rst
  docs/developers_guide/machines/cori.rst
  docs/developers_guide/machines/index.rst
  docs/users_guide/machines/cori.rst
  docs/users_guide/machines/index.rst
  docs/users_guide/quick_start.rst
  utils/matrix/setup_matrix.py
Labels: deployment

#591 Don't allow version of scikit-image with bad dependencies
  conda/compass_env/spec-file.template
Labels: deployment

#397 Add ismip6 run testgroup
  compass/job/__init__.py
  compass/job/job_script.template
  compass/landice/__init__.py
  compass/landice/tests/ismip6_run/__init__.py
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/__init__.py
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/albany_input.yaml
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300_4km_chicoma.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300_4km_nersc.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300_8km_nersc.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/namelist.landice
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/set_up_experiment.py
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/streams.faceMelting
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/streams.landice.template
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/streams.mask_calving
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/streams.vM_params
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/developers_guide/landice/test_groups/ismip6_run.rst
  docs/users_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/ismip6_run.rst
Labels: enhancement, land ice

#594 Update cached EC mesh and init files
  compass/ocean/cached_files.json
Labels: bug, ocean

#596 Only cull topography for cull_mesh steps that have it
  compass/ocean/mesh/cull.py
Labels: bug, ocean

#599 Reduce no. of processes for QU240 cull_mesh step
  compass/ocean/tests/global_ocean/mesh/qu240/qu240.cfg
Labels: bug, ocean

#564 Add VLR test to internal wave case
  compass/ocean/suites/pr.txt
  compass/ocean/tests/internal_wave/__init__.py
  compass/ocean/tests/internal_wave/default/__init__.py
  compass/ocean/tests/internal_wave/forward.py
  compass/ocean/tests/internal_wave/rpe_test/__init__.py
  compass/ocean/tests/internal_wave/viz.py
  docs/developers_guide/ocean/test_groups/internal_wave.rst
  docs/users_guide/ocean/test_groups/internal_wave.rst
Labels: enhancement, ocean

#600 Change np.bool to bool
  compass/ocean/tests/tides/init/dem_pixel.py
Labels: bug, ocean

#601 Lint ice shelf tests
  compass/ocean/tests/ice_shelf_2d/__init__.py
  compass/ocean/tests/ice_shelf_2d/default/__init__.py
  compass/ocean/tests/ice_shelf_2d/initial_state.py
  compass/ocean/tests/ice_shelf_2d/restart_test/__init__.py
  compass/ocean/tests/ice_shelf_2d/ssh_adjustment.py
  compass/ocean/tests/ice_shelf_2d/viz.py
  compass/ocean/tests/isomip_plus/evap.py
  compass/ocean/tests/isomip_plus/process_geom.py
  compass/ocean/tests/isomip_plus/viz/__init__.py
Labels: ocean, clean-up

#603 Add job script to steps
  compass/setup.py
Labels: enhancement, framework

#605 Adjust #cells in baroclinic channel to define 160x500km domain
  compass/ocean/tests/baroclinic_channel/__init__.py
Labels: bug, ocean

#590 Refactor land-ice mesh generation test cases
  .github/workflows/build_workflow.yml
  compass/landice/mesh.py
  compass/landice/tests/antarctica/mesh.py
  compass/landice/tests/antarctica/mesh_gen/mesh_gen.cfg
  compass/landice/tests/greenland/__init__.py
  compass/landice/tests/greenland/mesh.py
  compass/landice/tests/greenland/mesh_gen/__init__.py
  compass/landice/tests/greenland/mesh_gen/mesh_gen.cfg
  compass/landice/tests/humboldt/mesh.py
  compass/landice/tests/humboldt/mesh_gen/mesh_gen.cfg
  compass/landice/tests/kangerlussuaq/mesh.py
  compass/landice/tests/kangerlussuaq/mesh_gen/mesh_gen.cfg
  compass/landice/tests/koge_bugt_s/mesh.py
  compass/landice/tests/koge_bugt_s/mesh_gen/mesh_gen.cfg
  compass/landice/tests/thwaites/__init__.py
  compass/landice/tests/thwaites/mesh.py
  compass/landice/tests/thwaites/mesh_gen/__init__.py
  compass/landice/tests/thwaites/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/framework.rst
  docs/developers_guide/landice/test_groups/greenland.rst
  docs/developers_guide/landice/test_groups/thwaites.rst
  docs/users_guide/landice/framework.rst
  docs/users_guide/landice/framework/index.rst
  docs/users_guide/landice/index.rst
  docs/users_guide/landice/test_groups/greenland.rst
  docs/users_guide/landice/test_groups/humboldt.rst
  docs/users_guide/landice/test_groups/kangerlussuaq.rst
  docs/users_guide/landice/test_groups/koge_bugt_s.rst
  docs/users_guide/landice/test_groups/thwaites.rst
Labels: land ice, clean-up

#609 Fix bug in changing permissions on downloaded files
  compass/step.py
Labels: bug, framework

#611 Bump all the meshes to E3SM v3, revision 1
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/mesh/arrm10to60/arrm10to60.cfg
  compass/ocean/tests/global_ocean/mesh/ec30to60/ec30to60.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio/kuroshio.cfg
  compass/ocean/tests/global_ocean/mesh/qu240/qu240.cfg
  compass/ocean/tests/global_ocean/mesh/so12to60/so12to60.cfg
  compass/ocean/tests/global_ocean/mesh/wc14/wc14.cfg
  compass/ocean/tests/global_ocean/metadata.py
Labels: ocean, clean-up

#604 Add a test case for extrapolating WOA 2023 data
  compass/ocean/__init__.py
  compass/ocean/tests/utility/__init__.py
  compass/ocean/tests/utility/extrap_woa/__init__.py
  compass/ocean/tests/utility/extrap_woa/combine.py
  compass/ocean/tests/utility/extrap_woa/extrap_step.py
  compass/ocean/tests/utility/extrap_woa/extrap_woa.cfg
  compass/ocean/tests/utility/extrap_woa/remap_topography.py
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/framework.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/utility.rst
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/utility.rst
  setup.py
Labels: enhancement, ocean

#613 Fix wISC in mesh prefix
  compass/ocean/tests/global_ocean/mesh/__init__.py
Labels: bug, ocean

#610 Add WOA23 initial condition
  compass/ocean/suites/ec30to60.txt
  compass/ocean/suites/ecwisc30to60.txt
  compass/ocean/suites/kuroshio12to60.txt
  compass/ocean/suites/kuroshio8to60.txt
  compass/ocean/suites/nightly.txt
  compass/ocean/suites/phc.txt
  compass/ocean/suites/pr.txt
  compass/ocean/suites/qu240_for_e3sm.txt
  compass/ocean/suites/quwisc240.txt
  compass/ocean/suites/quwisc240_for_e3sm.txt
  compass/ocean/suites/so12to60.txt
  compass/ocean/suites/sowisc12to60.txt
  compass/ocean/suites/wc14.txt
  compass/ocean/suites/wcwisc14.txt
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/init/__init__.py
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/namelist.woa23
  docs/developers_guide/command_line.rst
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/developers_guide/ocean/test_groups/isomip_plus.rst
  docs/developers_guide/organization.rst
  docs/developers_guide/overview.rst
  docs/users_guide/ocean/suites.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/test_suites.rst
Labels: enhancement, ocean

#552 Generalize MALI ensemble framework
  compass/landice/ais_observations.py
  compass/landice/iceshelf_melt.py
  compass/landice/tests/ensemble_generator/Sobol_Initializations_seed_4_samples_100.csv
  compass/landice/tests/ensemble_generator/__init__.py
  compass/landice/tests/ensemble_generator/ensemble/__init__.py
  compass/landice/tests/ensemble_generator/ensemble/albany_input.yaml
  compass/landice/tests/ensemble_generator/ensemble/namelist.landice
  compass/landice/tests/ensemble_generator/ensemble/streams.landice
  compass/landice/tests/ensemble_generator/ensemble_generator.cfg
  compass/landice/tests/ensemble_generator/ensemble_member.py
  compass/landice/tests/ensemble_generator/plot_ensemble.py
  compass/landice/tests/ensemble_generator/thwaites/__init__.py
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/framework.rst
  docs/developers_guide/landice/test_groups/ensemble_generator.rst
  docs/users_guide/landice/test_groups/ensemble_generator.rst
Labels: land ice

#617 Add land-ice floating variables to `ocean_mesh` step
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_mesh.py
Labels: bug, ocean

#615 Fix substitution of `levels` at runtime in `global_ocean`
  compass/ocean/tests/global_ocean/mesh/arrm10to60/arrm10to60.cfg
  compass/ocean/tests/global_ocean/mesh/ec30to60/ec30to60.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio/kuroshio.cfg
  compass/ocean/tests/global_ocean/mesh/qu240/qu240.cfg
  compass/ocean/tests/global_ocean/mesh/so12to60/so12to60.cfg
  compass/ocean/tests/global_ocean/mesh/wc14/wc14.cfg
  compass/ocean/tests/global_ocean/metadata.py
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/config_files.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: bug, ocean

#619 Fixup namelists for single layer RK4 ocean tests
  compass/ocean/tests/dam_break/namelist.forward
  compass/ocean/tests/drying_slope/namelist.forward
Labels: bug, ocean

#622 Update explicit top drag coefficient namelist option
  compass/ocean/tests/isomip_plus/namelist.forward_and_ssh_adjust
Labels: bug, ocean

#621 Update global ocean init cache files
  compass/ocean/cached_files.json
Labels: bug, ocean
