Repository MPAS-Dev/compass, pull requests merged in 2023-06, with the labels that each got.

#638 Remove unused BGC configuration from global ocean
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/analysis_test/__init__.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/init/__init__.py
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/namelist.bgc
  compass/ocean/tests/global_ocean/init/namelist.init
  compass/ocean/tests/global_ocean/namelist.bgc
  compass/ocean/tests/global_ocean/performance_test/__init__.py
  compass/ocean/tests/global_ocean/streams.bgc
  docs/design_docs/compass_package.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/developers_guide/organization.rst
  docs/developers_guide/overview.rst
  docs/tutorials/dev_add_rrm.rst
  docs/users_guide/ocean/suites.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: ocean, clean-up

#639 Always remap topogrpahy, even for low res meshes
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/mesh/__init__.py
Labels: ocean, clean-up

#640 Renormalize topography after remapping in `global_ocean`
  compass/ocean/mesh/remap_topography.cfg
  compass/ocean/mesh/remap_topography.py
  compass/ocean/tests/global_ocean/init/namelist.init
Labels: bug, ocean

#642 Update cached QU240 and QUwISC240 mesh and init files
  compass/ocean/cached_files.json
Labels: bug, ocean

#643 Bound graph partition sizes
  compass/ocean/tests/global_ocean/files_for_e3sm/graph_partition.py
Labels: bug, ocean, sea ice

#644 For smaller meshes, create partitions for a single task
  compass/ocean/tests/global_ocean/files_for_e3sm/graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
Labels: bug, ocean

#637 Add lock exchange test group
  compass/ocean/__init__.py
  compass/ocean/tests/lock_exchange/__init__.py
  compass/ocean/tests/lock_exchange/forward.py
  compass/ocean/tests/lock_exchange/hydro/__init__.py
  compass/ocean/tests/lock_exchange/initial_state.py
  compass/ocean/tests/lock_exchange/lock_exchange.cfg
  compass/ocean/tests/lock_exchange/namelist.forward
  compass/ocean/tests/lock_exchange/nonhydro/__init__.py
  compass/ocean/tests/lock_exchange/nonhydro/namelist.forward
  compass/ocean/tests/lock_exchange/nonhydro/streams.forward
  compass/ocean/tests/lock_exchange/streams.forward
  compass/ocean/tests/lock_exchange/visualize.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/lock_exchange.rst
  docs/users_guide/ocean/test_groups/images/LE_hydro.png
  docs/users_guide/ocean/test_groups/images/LE_nonhydro.png
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/lock_exchange.rst
Labels: enhancement, ocean

#580 Add a global ocean test case for computing and running with data (prescribed) melt rates
  compass/ocean/suites/ecwisc30to60.txt
  compass/ocean/suites/quwisc240.txt
  compass/ocean/suites/quwisc240_for_e3sm.txt
  compass/ocean/suites/sowisc12to60.txt
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/__init__.py
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/namelist.forward
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/streams.forward
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
  setup.py
Labels: enhancement, ocean, E3SM PR finished
