Repository MPAS-Dev/compass, pull requests merged in 2023-08, with the labels that each got.

#658 Switch to python masking for culling landice meshes
  compass/landice/mesh.py
  compass/landice/tests/antarctica/mesh.py
  compass/landice/tests/antarctica/mesh_gen/__init__.py
  compass/landice/tests/greenland/mesh.py
  compass/landice/tests/greenland/mesh_gen/__init__.py
  compass/landice/tests/humboldt/mesh.py
  compass/landice/tests/humboldt/mesh_gen/__init__.py
  compass/landice/tests/kangerlussuaq/mesh.py
  compass/landice/tests/kangerlussuaq/mesh_gen/__init__.py
  compass/landice/tests/koge_bugt_s/mesh.py
  compass/landice/tests/koge_bugt_s/mesh_gen/__init__.py
  compass/landice/tests/thwaites/mesh.py
  compass/landice/tests/thwaites/mesh_gen/__init__.py
Labels: land ice, clean-up

#641 Update to 1.2.0-alpha.6
  compass/machines/__init__.py
  compass/machines/eligos.cfg
  compass/machines/morpheus.cfg
  compass/setup.py
  compass/version.py
  conda/albany_supported.txt
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/default.cfg
  conda/petsc_supported.txt
  conda/recipe/meta.yaml
  conda/shared.py
  conda/spack/eligos_gnu_openmpi.yaml
  conda/spack/morpheus_gnu_openmpi.yaml
  conda/unsupported.txt
  docs/developers_guide/deploying_spack.rst
  docs/developers_guide/machines/index.rst
  docs/developers_guide/quick_start.rst
Labels: E3SM PR finished, deployment

#661 Don't run remap_ice_shelf_melt without ice-shelf cavities
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
Labels: bug, ocean

#662 Update to MPAS-Tools v0.22.0
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
Labels: enhancement, deployment

#657 Sort mesh indices before saving culled global ocean meshes
  compass/ocean/mesh/cull.py
Labels: enhancement, ocean, in progress

#663 Clean up global ocean test group for large meshes
  compass/ocean/iceshelf.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/ssh_adjustment.py
  docs/developers_guide/machines/index.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: ocean, clean-up

#665 Update conda packages for unsupported machines
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/shared.py
Labels: bug, deployment

#576 Add RRS6to18 and RRSwISC6to18 meshes
  compass/ocean/suites/rrs6to18.txt
  compass/ocean/suites/rrswisc6to18.txt
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/global_ocean/mesh/rrs6to18/__init__.py
  compass/ocean/tests/global_ocean/mesh/rrs6to18/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/rrs6to18/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/rrs6to18/namelist.init
  compass/ocean/tests/global_ocean/mesh/rrs6to18/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/rrs6to18/rrs6to18.cfg
  compass/ocean/tests/global_ocean/mesh/rrs6to18/streams.forward
  compass/ocean/tests/global_ocean/mesh/rrs6to18/streams.init
  compass/ocean/tests/global_ocean/mesh/rrs6to18/streams.ssh_adjust
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/images/rrs6to18_temp.png
Labels: enhancement, ocean

#673 Minor changes to lts forward nmlist and streams
  compass/ocean/tests/hurricane/lts/forward/namelist.ocean
  compass/ocean/tests/hurricane/lts/forward/streams.ocean
Labels: ocean, clean-up

#674 Fix nEdges float --> int in graph files
  compass/model.py
Labels: bug, framework

#675 Update to `mpas_tools` 0.23.0
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
Labels: deployment

#676 Add a step for remapping sea surface salinity restoring
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#678 Two fixes to data ice shelf melt fluxes
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
Labels: bug, ocean

#647 Add nonhydro overflow
  compass/ocean/tests/overflow/__init__.py
  compass/ocean/tests/overflow/default/__init__.py
  compass/ocean/tests/overflow/hydro_vs_nonhydro/__init__.py
  compass/ocean/tests/overflow/hydro_vs_nonhydro/forward.py
  compass/ocean/tests/overflow/hydro_vs_nonhydro/hydro_vs_nonhydro.cfg
  compass/ocean/tests/overflow/hydro_vs_nonhydro/namelist.forward
  compass/ocean/tests/overflow/hydro_vs_nonhydro/namelist.hydro
  compass/ocean/tests/overflow/hydro_vs_nonhydro/namelist.nonhydro
  compass/ocean/tests/overflow/hydro_vs_nonhydro/streams.forward
  compass/ocean/tests/overflow/hydro_vs_nonhydro/visualize.py
  compass/ocean/tests/overflow/initial_state.py
  compass/ocean/tests/overflow/initial_state_from_init_mode.py
  compass/ocean/tests/overflow/nonhydro/__init__.py
  compass/ocean/tests/overflow/nonhydro/forward.py
  compass/ocean/tests/overflow/nonhydro/namelist.forward
  compass/ocean/tests/overflow/nonhydro/nonhydro.cfg
  compass/ocean/tests/overflow/nonhydro/streams.forward
  compass/ocean/tests/overflow/overflow.cfg
  compass/ocean/tests/overflow/rpe_test/__init__.py
  compass/ocean/tests/overflow/rpe_test/analysis.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/overflow.rst
  docs/users_guide/ocean/test_groups/images/overflow_nonhydro.png
  docs/users_guide/ocean/test_groups/overflow.rst
Labels: enhancement, ocean

#679 Break up data_ice_shelf_melt test
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/__init__.py
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/namelist.forward
  compass/ocean/tests/global_ocean/data_ice_shelf_melt/streams.forward
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/init/__init__.py
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/namelist.wisc
  compass/ocean/tests/global_ocean/performance_test/__init__.py
  compass/ocean/tests/global_ocean/performance_test/namelist.wisc
  compass/ocean/tests/global_ocean/streams.dismf
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: ocean, clean-up

#681 Add missing data ice-shelf melt cache files
  compass/ocean/cached_files.json
Labels: bug, ocean

#677 Add a step for remapping iceberg climatologies
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#683 Remove `data_ice_shelf_melt` tests from suites
  compass/ocean/suites/ecwisc30to60.txt
  compass/ocean/suites/quwisc240.txt
  compass/ocean/suites/quwisc240_for_e3sm.txt
  compass/ocean/suites/sowisc12to60.txt
  compass/ocean/suites/wcwisc14.txt
Labels: bug, ocean

#682 Simplify global ocean dynamic adjustment test cases
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/dynamic_adjustment.py
  compass/ocean/tests/global_ocean/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/arrm10to60/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/arrm10to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/kuroshio/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/kuroshio12to60/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/kuroshio8to60/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/qu/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/qu/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/qu240/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/qu240/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu240/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/rrs6to18/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/rrs6to18/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/rrs6to18/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment/streams.template
  conda/compass_env/spec-file.template
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
  setup.py
Labels: ocean, clean-up

#687 Update to geometric_features 1.3.0
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
Labels: dependencies and deployment

#688 Update to GEBCO 2023 topography
  compass/ocean/mesh/remap_topography.cfg
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/utility/extrap_woa/extrap_woa.cfg
  docs/developers_guide/organization.rst
  docs/users_guide/ocean/framework/mesh.rst
Labels: bug, ocean
