Repository MPAS-Dev/compass, pull requests merged in 2023-02, with the labels that each got.

#510 Use Wedge elements for all MALI tests
  compass/landice/tests/circular_shelf/albany_input.yaml
  compass/landice/tests/circular_shelf/circular_shelf.cfg
  compass/landice/tests/circular_shelf/decomposition_test/__init__.py
  compass/landice/tests/dome/albany_input.yaml
  compass/landice/tests/greenland/albany_input.yaml
  compass/landice/tests/greenland/albany_schoof_input.yaml
  docs/users_guide/landice/test_groups/circular_shelf.rst
Labels: land ice, clean-up

#374 Add nonhydrostatic test group
  compass/ocean/__init__.py
  compass/ocean/tests/nonhydro/__init__.py
  compass/ocean/tests/nonhydro/solitary_wave/__init__.py
  compass/ocean/tests/nonhydro/solitary_wave/forward.py
  compass/ocean/tests/nonhydro/solitary_wave/initial_state.py
  compass/ocean/tests/nonhydro/solitary_wave/namelist.forward
  compass/ocean/tests/nonhydro/solitary_wave/namelist.hydro
  compass/ocean/tests/nonhydro/solitary_wave/namelist.nonhydro
  compass/ocean/tests/nonhydro/solitary_wave/solitary_wave.cfg
  compass/ocean/tests/nonhydro/solitary_wave/streams.forward
  compass/ocean/tests/nonhydro/solitary_wave/visualize.py
  compass/ocean/tests/nonhydro/stratified_seiche/__init__.py
  compass/ocean/tests/nonhydro/stratified_seiche/forward.py
  compass/ocean/tests/nonhydro/stratified_seiche/initial_state.py
  compass/ocean/tests/nonhydro/stratified_seiche/namelist.forward
  compass/ocean/tests/nonhydro/stratified_seiche/namelist.hydro
  compass/ocean/tests/nonhydro/stratified_seiche/namelist.nonhydro
  compass/ocean/tests/nonhydro/stratified_seiche/stratified_seiche.cfg
  compass/ocean/tests/nonhydro/stratified_seiche/streams.forward
  compass/ocean/tests/nonhydro/stratified_seiche/visualize.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/nonhydro.rst
  docs/users_guide/ocean/test_groups/nonhydro.rst
Labels: enhancement, ocean

#526 Fix nonhydro documentation
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/nonhydro.rst
  docs/users_guide/machines/chicoma.rst
  docs/users_guide/ocean/test_groups/index.rst
Labels: bug, documentation

#501 Port overflow test group
  compass/ocean/__init__.py
  compass/ocean/tests/overflow/__init__.py
  compass/ocean/tests/overflow/default/__init__.py
  compass/ocean/tests/overflow/forward.py
  compass/ocean/tests/overflow/initial_state.py
  compass/ocean/tests/overflow/namelist.forward
  compass/ocean/tests/overflow/namelist.init
  compass/ocean/tests/overflow/overflow.cfg
  compass/ocean/tests/overflow/rpe_test/__init__.py
  compass/ocean/tests/overflow/rpe_test/analysis.py
  compass/ocean/tests/overflow/rpe_test/namelist.forward
  compass/ocean/tests/overflow/rpe_test/streams.forward
  compass/ocean/tests/overflow/streams.forward
  compass/ocean/tests/overflow/streams.init
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/overflow.rst
  docs/users_guide/ocean/test_groups/images/overflow.png
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/overflow.rst
Labels: enhancement, ocean

#516 Cleanup ocean RPE tests
  compass/ocean/rpe.py
  compass/ocean/tests/baroclinic_channel/baroclinic_channel.cfg
  compass/ocean/tests/baroclinic_channel/rpe_test/__init__.py
  compass/ocean/tests/baroclinic_channel/rpe_test/analysis.py
  compass/ocean/tests/internal_wave/internal_wave.cfg
  compass/ocean/tests/internal_wave/rpe_test/__init__.py
  compass/ocean/tests/internal_wave/rpe_test/analysis.py
  docs/users_guide/ocean/test_groups/baroclinic_channel.rst
  docs/users_guide/ocean/test_groups/internal_wave.rst
Labels: ocean, clean-up

#529 Elaborate note on not mixing envs for different branches
  docs/developers_guide/quick_start.rst
Labels: documentation

#531 Find netcdf and pnetcdf with env vars on Chicoma and PM
  conda/bootstrap.py
Labels: deployment

#534 Add GitHub Actions and remove Azure Pipelines
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
  .pre-commit-config.yaml
  azure-pipelines.yml
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  setup.cfg
Labels: ci

#535 Increase timeout for docs GitHub Action
  .github/workflows/docs_workflow.yml
Labels: bug, ci

#536 Fix docs version in GitHub Actions
  .github/workflows/docs_workflow.yml
Labels: bug, ci

#537 Remove Azure badge
  README.md
Labels: documentation, ci

#519 Port cosine bell initial state
  compass/ocean/tests/global_convergence/cosine_bell/__init__.py
  compass/ocean/tests/global_convergence/cosine_bell/cosine_bell.cfg
  compass/ocean/tests/global_convergence/cosine_bell/init.py
Labels: enhancement, ocean

#540 Remove init mode namelist, stream from cosine bell case
  compass/ocean/tests/global_convergence/cosine_bell/analysis.py
  compass/ocean/tests/global_convergence/cosine_bell/namelist.init
  compass/ocean/tests/global_convergence/cosine_bell/streams.init
Labels: ocean, clean-up

#525 Add Kuroshio8to60E2r4 and Kuroshio12to60E2r4 meshes
  compass/ocean/suites/kuroshio12to60.txt
  compass/ocean/suites/kuroshio8to60.txt
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/configure.py
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/init/__init__.py
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/kuroshio/kuroshio.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio/wbc_rectangle3-1.geojson
  compass/ocean/tests/global_ocean/mesh/kuroshio/wbc_rectangle3-2.geojson
  compass/ocean/tests/global_ocean/mesh/kuroshio/wbc_rectangle3-3.geojson
  compass/ocean/tests/global_ocean/mesh/kuroshio12to60/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio12to60/kuroshio12to60.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio12to60/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/kuroshio8to60/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio8to60/kuroshio8to60.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio8to60/namelist.split_explicit
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/developers_guide/organization.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/images/kuroshio8to60.png
Labels: new mesh, ocean

#448 Add bed topo to cell spacing
  compass/landice/mesh.py
  compass/landice/tests/greenland/high_res_mesh/high_res_mesh.cfg
  compass/landice/tests/greenland/mesh.py
  compass/landice/tests/humboldt/humboldt.cfg
  compass/landice/tests/humboldt/mesh.py
  compass/landice/tests/kangerlussuaq/mesh.py
  compass/landice/tests/kangerlussuaq/mesh_gen/mesh_gen.cfg
Labels: enhancement, land ice

#488 Add Thwaites UQ study framework
  compass/landice/__init__.py
  compass/landice/extrapolate.py
  compass/landice/tests/ensemble_generator/Sobol_Initializations_seed_4_samples_100.csv
  compass/landice/tests/ensemble_generator/__init__.py
  compass/landice/tests/ensemble_generator/ensemble_generator.cfg
  compass/landice/tests/ensemble_generator/ensemble_manager.py
  compass/landice/tests/ensemble_generator/ensemble_member.py
  compass/landice/tests/ensemble_generator/plot_ensemble.py
  compass/landice/tests/ensemble_generator/thwaites/__init__.py
  compass/landice/tests/ensemble_generator/thwaites/albany_input.yaml
  compass/landice/tests/ensemble_generator/thwaites/namelist.landice
  compass/landice/tests/ensemble_generator/thwaites/streams.landice
  compass/setup.py
  docs/developers_guide/building_docs.rst
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/framework.rst
  docs/developers_guide/landice/test_groups/ensemble_generator.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/ensemble_generator.rst
  docs/users_guide/landice/test_groups/index.rst
  setup.py
Labels: land ice

#545 Fix deployment with latest conda (23.1.0)
  conda/bootstrap.py
  conda/configure_compass_env.py
  conda/shared.py
Labels: bug, deployment

#538 Allow test cases to run on login nodes
  compass/default.cfg
  compass/ocean/tests/global_convergence/cosine_bell/forward.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/ssh_adjustment.py
  compass/ocean/tests/hurricane/forward/forward.py
  compass/ocean/tests/hurricane/init/initial_state.py
  compass/ocean/tests/isomip_plus/forward.py
  compass/ocean/tests/isomip_plus/ssh_adjustment.py
  compass/ocean/tests/planar_convergence/forward.py
  compass/ocean/tests/sphere_transport/correlated_tracers_2d/forward.py
  compass/ocean/tests/sphere_transport/divergent_2d/forward.py
  compass/ocean/tests/sphere_transport/nondivergent_2d/forward.py
  compass/ocean/tests/sphere_transport/rotation_2d/forward.py
  compass/ocean/tests/tides/forward/forward.py
  compass/ocean/tests/tides/init/initial_state.py
  compass/parallel.py
  compass/run/serial.py
  compass/step.py
  docs/developers_guide/api.rst
Labels: enhancement, framework
