Repository MPAS-Dev/compass, pull requests merged in 2023-10, with the labels that each got.

#694 Update variables checked in DISMF performance test
  compass/ocean/tests/global_ocean/performance_test/__init__.py
Labels: bug, ocean, E3SM PR finished

#713 Update to `pyremap` v1.1.0 (again)
  compass/ocean/mesh/remap_topography.py
  compass/ocean/tests/global_ocean/files_for_e3sm/diagnostic_maps.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  conda/compass_env/spec-file.template
Labels: enhancement, dependencies and deployment

#714 Temporary fix to reinstall mamba=1.5.1
  conda/compass_env/load_compass.template
  conda/shared.py
Labels: bug, dependencies and deployment

#718 Update to mpas_tools 0.26.0
  compass/config.py
  conda/compass_env/spec-file.template
  conda/recipe/meta.yaml
Labels: dependencies and deployment, framework

#695 Add decomp test case to the drying slope test group
  compass/ocean/suites/wetdry.txt
  compass/ocean/tests/drying_slope/__init__.py
  compass/ocean/tests/drying_slope/decomp/__init__.py
  compass/ocean/tests/drying_slope/streams.forward
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/drying_slope.rst
  docs/users_guide/ocean/test_groups/drying_slope.rst
Labels: enhancement, ocean

#719 Fix conversion to absolute paths in config files
  compass/config.py
Labels: bug, framework

#720 Remove temporary fix for mamba 1.5.1
  conda/shared.py
Labels: dependencies and deployment

#721 Fix variable name in iceberg climatologies
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
Labels: bug, ocean

#717 Add step for reconstruction coeffs
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/files_for_e3sm_step.py
  compass/ocean/tests/global_ocean/files_for_e3sm/write_coeffs_reconstruct/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/write_coeffs_reconstruct/namelist.reconstruct
  compass/ocean/tests/global_ocean/files_for_e3sm/write_coeffs_reconstruct/streams.reconstruct
  compass/ocean/tests/global_ocean/forward.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#703 Add drying_slope convergence tests
  compass/ocean/suites/wetdry.txt
  compass/ocean/tests/drying_slope/__init__.py
  compass/ocean/tests/drying_slope/analysis.py
  compass/ocean/tests/drying_slope/convergence/__init__.py
  compass/ocean/tests/drying_slope/decomp/__init__.py
  compass/ocean/tests/drying_slope/default/__init__.py
  compass/ocean/tests/drying_slope/drying_slope.cfg
  compass/ocean/tests/drying_slope/forward.py
  compass/ocean/tests/drying_slope/initial_state.py
  compass/ocean/tests/drying_slope/loglaw/__init__.py
  compass/ocean/tests/drying_slope/namelist.1km.forward
  compass/ocean/tests/drying_slope/namelist.250m.forward
  compass/ocean/tests/drying_slope/namelist.forward
  compass/ocean/tests/drying_slope/namelist.init
  compass/ocean/tests/drying_slope/namelist.single_layer.forward
  compass/ocean/tests/drying_slope/ramp/__init__.py
  compass/ocean/tests/drying_slope/viz/__init__.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/drying_slope.rst
  docs/users_guide/ocean/test_groups/drying_slope.rst
Labels: enhancement, ocean

#541 add the variable 'zbnds' for ocean depth
  compass/landice/tests/ismip6_forcing/ocean_thermal/process_thermal_forcing.py
Labels: land ice, clean-up
