Repository MPAS-Dev/compass, pull requests merged in 2023-09, with the labels that each got.

#670 Add parabolic bowl test case
  compass/ocean/__init__.py
  compass/ocean/tests/parabolic_bowl/__init__.py
  compass/ocean/tests/parabolic_bowl/default/__init__.py
  compass/ocean/tests/parabolic_bowl/forward.py
  compass/ocean/tests/parabolic_bowl/initial_state.py
  compass/ocean/tests/parabolic_bowl/namelist.10km.forward
  compass/ocean/tests/parabolic_bowl/namelist.20km.forward
  compass/ocean/tests/parabolic_bowl/namelist.5km.forward
  compass/ocean/tests/parabolic_bowl/namelist.forward
  compass/ocean/tests/parabolic_bowl/namelist.init
  compass/ocean/tests/parabolic_bowl/namelist.ramp.forward
  compass/ocean/tests/parabolic_bowl/namelist.single_layer.forward
  compass/ocean/tests/parabolic_bowl/parabolic_bowl.cfg
  compass/ocean/tests/parabolic_bowl/streams.forward
  compass/ocean/tests/parabolic_bowl/streams.init
  compass/ocean/tests/parabolic_bowl/viz/__init__.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/index.rst
  docs/developers_guide/ocean/test_groups/parabolic_bowl.rst
  docs/users_guide/ocean/test_groups/images/parabolic_bowl_error.png
  docs/users_guide/ocean/test_groups/images/parabolic_bowl_points.png
  docs/users_guide/ocean/test_groups/images/parabolic_bowl_solution_000.png
  docs/users_guide/ocean/test_groups/images/parabolic_bowl_solution_360.png
  docs/users_guide/ocean/test_groups/index.rst
  docs/users_guide/ocean/test_groups/parabolic_bowl.rst
Labels: ocean, E3SM PR finished

#685 Add additional ice_shelf_2d test cases
  compass/ocean/iceshelf.py
  compass/ocean/tests/ice_shelf_2d/__init__.py
  compass/ocean/tests/ice_shelf_2d/default/__init__.py
  compass/ocean/tests/ice_shelf_2d/forward.py
  compass/ocean/tests/ice_shelf_2d/ice_shelf_2d.cfg
  compass/ocean/tests/ice_shelf_2d/initial_state.py
  compass/ocean/tests/ice_shelf_2d/namelist.forward
  compass/ocean/tests/ice_shelf_2d/namelist.single_layer.forward_and_ssh_adjust
  compass/ocean/tests/ice_shelf_2d/namelist.tidal_forcing.forward
  compass/ocean/tests/ice_shelf_2d/restart_test/__init__.py
  compass/ocean/tests/ice_shelf_2d/ssh_adjustment.py
  compass/ocean/tests/ice_shelf_2d/streams.forward
  compass/ocean/tests/ice_shelf_2d/viz.py
  compass/ocean/tests/isomip_plus/viz/plot.py
Labels: enhancement, ocean

#697 Allow culled mesh to be converted to CDF-5 format
  compass/ocean/iceshelf.py
  compass/ocean/mesh/cull.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/mesh/rrs6to18/rrs6to18.cfg
Labels: enhancement, ocean

#689 New Mesh: ECwISC30to60E3r2
  compass/ocean/tests/global_ocean/mesh/ec30to60/ec30to60.cfg
Labels: new mesh, ocean, sea ice

#691 New Mesh: IcoswISC30E3r2
  compass/ocean/tests/global_ocean/mesh/qu/qu.cfg
Labels: new mesh, ocean, sea ice

#696 Add a few isomip_plus configurations for wetting and drying
  compass/ocean/tests/isomip_plus/__init__.py
  compass/ocean/tests/isomip_plus/files_for_e3sm.py
  compass/ocean/tests/isomip_plus/forward.py
  compass/ocean/tests/isomip_plus/isomip_plus.cfg
  compass/ocean/tests/isomip_plus/isomip_plus_test.py
  compass/ocean/tests/isomip_plus/namelist.tidal_forcing.forward
  compass/ocean/tests/isomip_plus/ssh_adjustment.py
  compass/ocean/tests/isomip_plus/viz/__init__.py
Labels: enhancement, ocean

#698 Update to pyremap 1.1.0
  compass/ocean/mesh/remap_topography.py
  compass/ocean/tests/global_ocean/files_for_e3sm/diagnostic_maps.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  conda/compass_env/spec-file.template
Labels: dependencies and deployment, framework

#702 Use pyremap 1.0.1
  compass/ocean/mesh/remap_topography.py
  compass/ocean/tests/global_ocean/files_for_e3sm/diagnostic_maps.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  conda/compass_env/spec-file.template
Labels: bug, ocean, dependencies and deployment, framework

#705 Fix ISOMIP+ plotting
  compass/ocean/tests/isomip_plus/viz/plot.py
Labels: bug, ocean

#709 Fix dynamic adjustment time parsing for OSX
  compass/ocean/tests/global_ocean/dynamic_adjustment/__init__.py
Labels: bug, ocean
