Repository MPAS-Dev/compass, pull requests merged in 2023-03, with the labels that each got.

#523 Enable easier mache testing
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/shared.py
Labels: clean-up, deployment

#527 Add instructions for deploying spack
  docs/developers_guide/deploying_spack.rst
  docs/developers_guide/quick_start.rst
  docs/index.rst
  docs/tutorials/dev_add_test_group.rst
  docs/tutorials/dev_porting_legacy.rst
  docs/users_guide/machines/index.rst
  docs/users_guide/quick_start.rst
Labels: documentation

#548 Fix `isomip_plus` streamfunction computation
  compass/ocean/tests/isomip_plus/streamfunction.py
Labels: bug, ocean

#471 Add support for spherical meshes in ISOMIP+
  compass/ocean/tests/isomip_plus/__init__.py
  compass/ocean/tests/isomip_plus/cull_mesh.py
  compass/ocean/tests/isomip_plus/files_for_e3sm.py
  compass/ocean/tests/isomip_plus/geom.py
  compass/ocean/tests/isomip_plus/initial_state.py
  compass/ocean/tests/isomip_plus/isomip_plus.cfg
  compass/ocean/tests/isomip_plus/isomip_plus_test.py
  compass/ocean/tests/isomip_plus/misomip.py
  compass/ocean/tests/isomip_plus/planar_mesh.py
  compass/ocean/tests/isomip_plus/spherical_mesh.py
  compass/ocean/tests/isomip_plus/streamfunction.py
  compass/ocean/tests/isomip_plus/viz/plot.py
Labels: enhancement, ocean

#553 Add `--verbose` flag to deployment script
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
  conda/bootstrap.py
  conda/configure_compass_env.py
  conda/shared.py
Labels: deployment

#554 Fix print for petsc in verbose mode
  conda/bootstrap.py
Labels: bug, deployment

#556 Fix ISOMIP+ test names in suites
  compass/ocean/suites/pr.txt
  compass/ocean/suites/wetdry.txt
Labels: bug, ocean

#557 Update docs for e3sm_update utility
  utils/e3sm_update/README.md
  utils/e3sm_update/example.cfg
Labels: documentation, utility

#560 Add metadata in `files_for_e3sm` for existing meshes
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/files_for_e3sm_step.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_initial_condition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: bug, ocean, clean-up

#563 Update algorithm for core counts for MPAS partition files
  compass/ocean/suites/pr.txt
  compass/ocean/tests/global_ocean/files_for_e3sm/graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#572 Fix `compass cache`
  compass/cache.py
Labels: bug, framework

#577 Add missing land-ice mask file to cull mesh output
  compass/ocean/cached_files.json
  compass/ocean/mesh/cull.py
Labels: bug, ocean

#578 Simplify adding test cases to `global_ocean`
  compass/ocean/tests/global_ocean/__init__.py
Labels: ocean, clean-up

#583 Remove Ifpack and ML preconditioners from landice test inputs
  compass/landice/tests/circular_shelf/albany_input.yaml
  compass/landice/tests/dome/albany_input.yaml
  compass/landice/tests/ensemble_generator/thwaites/albany_input.yaml
  compass/landice/tests/greenland/albany_input.yaml
  compass/landice/tests/greenland/albany_schoof_input.yaml
  compass/landice/tests/humboldt/albany_input.yaml
  compass/landice/tests/mismipplus/albany_input.yaml
  compass/landice/tests/thwaites/albany_input.yaml
Labels: land ice, clean-up

#584 Add missing newline
  compass/landice/tests/circular_shelf/albany_input.yaml
Labels: land ice, clean-up
