Repository MPAS-Dev/compass, pull requests merged in 2023-05, with the labels that each got.

#626 Add double quotes to flag
  compass/ocean/tests/global_ocean/mesh/arrm10to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu240/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment/__init__.py
Labels: bug, ocean

#633 Remove unused namelist option
  compass/ocean/tests/global_ocean/init/initial_state.py
Labels: bug, ocean

#630 Explicitly specify nodes in srun calls
  compass/parallel.py
Labels: bug, framework

#631 Get global ocean resources and time steps based on mesh size
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/ssh_adjustment.py
  compass/ocean/tests/global_ocean/mesh/arrm10to60/arrm10to60.cfg
  compass/ocean/tests/global_ocean/mesh/arrm10to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/ec30to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/ec30to60/ec30to60.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/kuroshio/kuroshio.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio12to60/kuroshio12to60.cfg
  compass/ocean/tests/global_ocean/mesh/kuroshio8to60/kuroshio8to60.cfg
  compass/ocean/tests/global_ocean/mesh/qu240/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu240/qu240.cfg
  compass/ocean/tests/global_ocean/mesh/so12to60/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/so12to60/so12to60.cfg
  compass/ocean/tests/global_ocean/mesh/wc14/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/wc14/wc14.cfg
  compass/ocean/tests/global_ocean/restart_test/__init__.py
  compass/ocean/tests/global_ocean/tasks.py
  compass/step.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#632 Add general QU and Icos meshes
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu/dynamic_adjustment/__init__.py
  compass/ocean/tests/global_ocean/mesh/qu/dynamic_adjustment/streams.template
  compass/ocean/tests/global_ocean/mesh/qu/icos.cfg
  compass/ocean/tests/global_ocean/mesh/qu/namelist.split_explicit
  compass/ocean/tests/global_ocean/mesh/qu/qu.cfg
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean, in progress

#628 Add more graph partition sizes
  compass/ocean/tests/global_ocean/files_for_e3sm/graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_mesh.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
Labels: enhancement, ocean, sea ice

#635 Add a tutorial on creating RRM meshes
  docs/index.rst
  docs/tutorials/dev_add_rrm.rst
  docs/tutorials/images/atl20km.png
  docs/tutorials/images/atl20km_culled_paraview.png
  docs/tutorials/images/ec30to60.png
  docs/tutorials/images/ec30to60_culled_paraview.png
  docs/tutorials/images/geojson_io_amazon_delta.png
  docs/tutorials/images/geojson_io_south_atl.png
  docs/tutorials/images/qu60.png
  docs/tutorials/images/qu60_base_paraview.png
  docs/tutorials/images/qu60_culled_paraview.png
  docs/tutorials/images/simulation_norm_vel_mag.png
  docs/tutorials/images/simulation_sst.png
  docs/tutorials/images/yam10to60.png
  docs/tutorials/images/yam10to60_culled_paraview.png
Labels: documentation, enhancement
