Repository MPAS-Dev/compass, pull requests merged in 2024-05, with the labels that each got.

#808 Fix label for landice mesh_modifications test group in dev guide
  docs/developers_guide/landice/test_groups/mesh_modifications.rst
Labels: documentation

#623 Print max. temperature during dynamic adjustment
  compass/ocean/tests/global_ocean/dynamic_adjustment/__init__.py
Labels: ocean

#816 Clean up `iceshelf` framework
  compass/ocean/iceshelf.py
Labels: ocean, clean-up

#771 FB-LTS Hurricane Test Case
  compass/ocean/tests/hurricane/__init__.py
  compass/ocean/tests/hurricane/fblts/__init_.py
  compass/ocean/tests/hurricane/fblts/forward/__init__.py
  compass/ocean/tests/hurricane/fblts/forward/namelist.ocean
  compass/ocean/tests/hurricane/fblts/forward/streams.ocean
  compass/ocean/tests/hurricane/forward/__init__.py
  compass/ocean/tests/hurricane/forward/forward.py
  compass/ocean/tests/hurricane/init/__init__.py
  compass/ocean/tests/hurricane/lts/mesh/lts_regions.py
  compass/ocean/tests/hurricane/mesh/__init__.py
  docs/users_guide/ocean/test_groups/hurricane.rst
Labels: ocean, E3SM PR finished

#822 Add histograms of areaCell and dcEdge to init plots
  compass/ocean/plot.py
Labels: enhancement, ocean

#787 Fix bug in limiting cull distance
  compass/landice/mesh.py
Labels: land ice, clean-up

#824 Add ISMIP6 Greenland region masks that extend beyond ice edge
  compass/landice/mesh.py
  compass/landice/tests/antarctica/mesh.py
  compass/landice/tests/greenland/mesh.py
  compass/ocean/tests/global_ocean/files_for_e3sm/diagnostic_masks.py
  compass/version.py
  conda/compass_env/spec-file.template
Labels: land ice
