Repository MPAS-Dev/compass, pull requests merged in 2024-10, with the labels that each got.

#862 Update pre-commit dependencies
  .pre-commit-config.yaml
Labels: ci

#817 Landice interpolation unification
  compass/landice/mesh.py
  compass/landice/tests/antarctica/mesh.py
  compass/landice/tests/antarctica/mesh_gen/mesh_gen.cfg
  compass/landice/tests/greenland/mesh.py
  compass/landice/tests/greenland/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/framework.rst
  docs/users_guide/landice/test_groups/antarctica.rst
  docs/users_guide/landice/test_groups/greenland.rst
Labels: land ice, in progress

#864 Put low res topography options in a config file
  compass/ocean/mesh/low_res_topography.cfg
  compass/ocean/tests/global_ocean/mesh/__init__.py
Labels: ocean, clean-up

#836 Add area integrated annual mean to data iceberg and ice-shelf flux files
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/add_total_iceberg_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
Labels: enhancement, ocean

#865 Update to 1.6.0 alpha.1
  compass/machines/pm-gpu.cfg
  compass/version.py
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/default.cfg
Labels: E3SM PR finished, MALI-Dev PR finished, dependencies and deployment
