Repository MPAS-Dev/compass, pull requests merged in 2024-03, with the labels that each got.

#786 Add edge masks to default arguments of `make_region_masks` landice framework function
  compass/landice/mesh.py
Labels: land ice

#790 Fixes to landlocked cells when culling global meshes
  compass/ocean/mesh/cull.py
Labels: bug, ocean

#791 Switch `pr` and `nightly` suites to use Icos meshes
  compass/ocean/cached_files.json
  compass/ocean/suites/nightly.txt
  compass/ocean/suites/pr.txt
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/streams.dismf
  docs/users_guide/ocean/suites.rst
Labels: enhancement, ocean

#789 Fix DISMF dataset name in global ocean forward runs
  compass/ocean/tests/global_ocean/forward.py
  compass/ocean/tests/global_ocean/streams.dismf
Labels: bug, ocean

#798 Only make tidal mixing files for meshes with cavities
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_tidal_mixing.py
Labels: ocean, clean-up

#794 Add util for culling MPAS-Ocean and -Seaice restart files
  compass/ocean/tests/utility/__init__.py
  compass/ocean/tests/utility/cull_restarts/__init__.py
  compass/ocean/tests/utility/cull_restarts/cull.py
  compass/ocean/tests/utility/cull_restarts/cull_restarts.cfg
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/utility.rst
  docs/users_guide/ocean/test_groups/utility.rst
Labels: ocean, utility, sea ice

#799 Add a utility for combining GEBCO and BedMachine topo
  compass/ocean/tests/utility/__init__.py
  compass/ocean/tests/utility/combine_topo/__init__.py
  compass/ocean/tests/utility/combine_topo/combine_topo.cfg
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/utility.rst
  docs/users_guide/ocean/test_groups/utility.rst
Labels: ocean
