Repository MPAS-Dev/compass, pull requests merged in 2024-04, with the labels that each got.

#814 Update to mache v1.22.0
  compass/version.py
  conda/compass_env/spec-file.template
  conda/configure_compass_env.py
  conda/recipe/meta.yaml
Labels: dependencies and deployment

#812 Add config options for min levels
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/initial_state.py
  compass/ocean/tests/global_ocean/init/namelist.init
  compass/ocean/tests/global_ocean/mesh/arrm10to60/arrm10to60.cfg
  compass/ocean/tests/global_ocean/mesh/arrm10to60/namelist.init
  compass/ocean/tests/global_ocean/mesh/rrs6to18/rrs6to18.cfg
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: ocean, clean-up

#803 Add conservative remapping of observational datasets onto Greenland Ice Sheet mesh
  compass/landice/tests/greenland/mesh.py
  compass/landice/tests/greenland/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/test_groups/greenland.rst
  docs/users_guide/landice/test_groups/antarctica.rst
  docs/users_guide/landice/test_groups/greenland.rst
Labels: land ice

#749 Add an option to setup coupled MALI-SLM runs in the ismip6 run testgroup
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/__init__.py
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/albany_input.yaml
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/create_slm_mapping_files.py
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300_4km_chicoma.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300_4km_nersc.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/ismip6_ais_proj2300_8km_nersc.cfg
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/namelist.landice
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/namelist.sealevel.template
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/set_up_experiment.py
  docs/developers_guide/landice/test_groups/ismip6_run.rst
  docs/users_guide/landice/test_groups/ismip6_run.rst
Labels: enhancement, land ice

#820 Set simulation length in the SLM namelist to 300 years
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/namelist.sealevel.template
Labels: land ice, clean-up
