Repository MPAS-Dev/compass, pull requests merged in 2024-02, with the labels that each got.

#602 Add isunnguata sermia mesh generation test case
  compass/landice/__init__.py
  compass/landice/tests/isunnguata_sermia/Isunnguata_Sermia.geojson
  compass/landice/tests/isunnguata_sermia/__init__.py
  compass/landice/tests/isunnguata_sermia/mesh.py
  compass/landice/tests/isunnguata_sermia/mesh_gen/__init__.py
  compass/landice/tests/isunnguata_sermia/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/developers_guide/landice/test_groups/isunnguata_sermia.rst
  docs/users_guide/landice/test_groups/images/isunnguata_sermia_1to10km.png
  docs/users_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/isunnguata_sermia.rst
Labels: enhancement, land ice

#772 Make sure ny is even in ISOMIP+ test cases
  compass/ocean/tests/isomip_plus/isomip_plus_test.py
Labels: bug

#776 Fix incorrect creation dates for e3sm_to_cmip maps
  compass/ocean/tests/global_ocean/files_for_e3sm/e3sm_to_cmip_maps.py
Labels: bug, ocean

#779 Update `e3sm_to_cmip_maps` step to create E3SMv3 maps
  compass/ocean/tests/global_ocean/files_for_e3sm/e3sm_to_cmip_maps.py
  compass/ocean/tests/global_ocean/files_for_e3sm/scrip.py
Labels: enhancement, ocean

#770 Add `files_for_e3sm` step for remapping rms tidal velocity
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_tidal_mixing.py
  docs/developers_guide/landice/api.rst
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#777 Reroute missing fluxes in data ice-shelf melt fluxes (DISMF)
  compass/ocean/mesh/cull.py
  compass/ocean/tests/global_ocean/files_for_e3sm/__init__.py
  compass/ocean/tests/global_ocean/files_for_e3sm/files_for_e3sm_step.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_mesh.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#778 Switch DISMF to Paolo et al. (2023) dataset
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#784 Fix typo culeed --> culled
  compass/ocean/mesh/cull.py
Labels: bug, ocean

#562 Create test for extracting a MALI subdomain from a larger domain
  compass/landice/__init__.py
  compass/landice/mesh.py
  compass/landice/tests/mesh_modifications/__init__.py
  compass/landice/tests/mesh_modifications/subdomain_extractor/__init__.py
  compass/landice/tests/mesh_modifications/subdomain_extractor/extract_region.py
  compass/landice/tests/mesh_modifications/subdomain_extractor/subdomain_extractor.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/index.rst
  docs/developers_guide/landice/test_groups/mesh_modifications.rst
  docs/users_guide/landice/test_groups/index.rst
  docs/users_guide/landice/test_groups/mesh_modifications.rst
Labels: land ice

#616 Create ensemble of branch runs for projections
  compass/landice/ais_observations.py
  compass/landice/tests/ensemble_generator/__init__.py
  compass/landice/tests/ensemble_generator/albany_input.yaml
  compass/landice/tests/ensemble_generator/branch_ensemble/__init__.py
  compass/landice/tests/ensemble_generator/branch_ensemble/branch_ensemble.cfg
  compass/landice/tests/ensemble_generator/branch_ensemble/branch_run.py
  compass/landice/tests/ensemble_generator/branch_ensemble/copy_existing_runs.sh
  compass/landice/tests/ensemble_generator/branch_ensemble/namelist.landice
  compass/landice/tests/ensemble_generator/branch_ensemble/streams.landice
  compass/landice/tests/ensemble_generator/ensemble_generator.cfg
  compass/landice/tests/ensemble_generator/ensemble_manager.py
  compass/landice/tests/ensemble_generator/ensemble_member.py
  compass/landice/tests/ensemble_generator/namelist.landice
  compass/landice/tests/ensemble_generator/plot_ensemble.py
  compass/landice/tests/ensemble_generator/spinup_ensemble/__init__.py
  compass/landice/tests/ensemble_generator/streams.landice
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/test_groups/ensemble_generator.rst
  docs/users_guide/landice/test_groups/ensemble_generator.rst
Labels: land ice

#750 Updated data interpolation for Antarctica mesh generation case
  compass/landice/mesh.py
  compass/landice/tests/antarctica/mesh.py
  compass/landice/tests/antarctica/mesh_gen/mesh_gen.cfg
  docs/developers_guide/landice/api.rst
  docs/developers_guide/landice/framework.rst
  docs/developers_guide/landice/test_groups/antarctica.rst
  docs/users_guide/landice/test_groups/antarctica.rst
Labels: land ice
