Repository MPAS-Dev/compass, pull requests merged in 2024-06, with the labels that each got.

#826 Update the namelist option for tidal velocity
  compass/ocean/tests/isomip_plus/namelist.forward_and_ssh_adjust
Labels: ocean, E3SM PR finished

#823 Clean-up parabolic bowl convergence plot
  compass/ocean/tests/parabolic_bowl/viz/__init__.py
Labels: clean-up

#805 Cap fractions from topography to one
  compass/ocean/mesh/remap_topography.py
Labels: bug, ocean

#801 New Mesh: RRSwISC6to18E3r5
  compass/ocean/tests/global_ocean/mesh/rrs6to18/dynamic_adjustment.yaml
  compass/ocean/tests/global_ocean/mesh/rrs6to18/namelist.init
  compass/ocean/tests/global_ocean/mesh/rrs6to18/rrs6to18.cfg
Labels: new mesh, ocean, sea ice

#828 Don't make DIB files if not ice-shelf cavities
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
Labels: bug, ocean

#833 Constrain numpy < 2.0
  compass/version.py
  conda/compass_env/spec-file.template
Labels: dependencies and deployment

#830 Mask only topography above sea level when remapping BedMachine topo
  compass/ocean/tests/utility/combine_topo/__init__.py
  compass/ocean/tests/utility/combine_topo/combine_topo.cfg
Labels: ocean, utility
