Repository MPAS-Dev/compass, pull requests merged in 2025-04, with the labels that each got.

#829 New Mesh: SOwISC12to30E3r4
  compass/ocean/tests/global_ocean/__init__.py
  compass/ocean/tests/global_ocean/init/__init__.py
  compass/ocean/tests/global_ocean/mesh/__init__.py
  compass/ocean/tests/global_ocean/mesh/remap_mali_topography/__init__.py
  compass/ocean/tests/global_ocean/mesh/remap_mali_topography/ais_2to10km.cfg
  compass/ocean/tests/global_ocean/mesh/remap_mali_topography/ais_4to20km.cfg
  compass/ocean/tests/global_ocean/mesh/so12to30/so12to30.cfg
  docs/conf.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, new mesh, ocean, E3SM PR finished, sea ice

#899 github action for running a coarse gis meshgen test
  .github/workflows/gis_coarse_meshgen.yml
Labels: enhancement, land ice, ci

#897 Fix CDF5 and int32 in `files_for_e3sm`
  compass/ocean/tests/global_ocean/files_for_e3sm/add_total_iceberg_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/files_for_e3sm/diagnostic_masks.py
  compass/ocean/tests/global_ocean/files_for_e3sm/files_for_e3sm_step.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_initial_condition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/ocean_mesh.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_tidal_mixing.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_initial_condition.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_mesh.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/mesh/rrs6to18/rrs6to18.cfg
Labels: bug, ocean

#881 Update to 1.7.0 alpha.2
  .github/workflows/gis_coarse_meshgen.yml
  compass/landice/mesh.py
  compass/landice/tests/antarctica/mesh.py
  compass/landice/tests/antarctica/mesh_gen/mesh_gen.cfg
  compass/landice/tests/circular_shelf/setup_mesh.py
  compass/landice/tests/dome/setup_mesh.py
  compass/landice/tests/eismint2/setup_mesh.py
  compass/landice/tests/enthalpy_benchmark/setup_mesh.py
  compass/landice/tests/greenland/mesh_gen/mesh_gen.cfg
  compass/landice/tests/hydro_radial/setup_mesh.py
  compass/landice/tests/ismip6_forcing/create_mapfile.py
  compass/landice/tests/ismip6_run/ismip6_ais_proj2300/create_slm_mapping_files.py
  compass/landice/tests/mesh_modifications/subdomain_extractor/extract_region.py
  compass/landice/tests/mesh_modifications/subdomain_extractor/subdomain_extractor.cfg
  compass/landice/tests/mismipplus/setup_mesh.py
  compass/ocean/mesh/remap_topography.cfg
  compass/ocean/mesh/remap_topography.py
  compass/ocean/tests/global_ocean/files_for_e3sm/diagnostic_maps.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_iceberg_climatology.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_tidal_mixing.py
  compass/ocean/tests/global_ocean/files_for_e3sm/seaice_graph_partition.py
  compass/ocean/tests/global_ocean/init/remap_ice_shelf_melt.py
  compass/ocean/tests/global_ocean/mesh/remap_mali_topography/__init__.py
  compass/ocean/tests/utility/combine_topo/__init__.py
  compass/ocean/tests/utility/extrap_woa/remap_topography.py
  compass/version.py
  conda/bootstrap.py
  conda/compass_env/spec-file.template
  docs/developers_guide/framework.rst
  docs/developers_guide/landice/test_groups/circular_shelf.rst
  docs/developers_guide/landice/test_groups/dome.rst
  docs/developers_guide/landice/test_groups/eismint2.rst
  docs/developers_guide/landice/test_groups/enthalpy_benchmark.rst
  docs/developers_guide/landice/test_groups/hydro_radial.rst
  docs/developers_guide/landice/test_groups/ismip6_forcing.rst
  docs/developers_guide/landice/test_groups/ismip6_run.rst
  docs/developers_guide/landice/test_groups/mesh_modifications.rst
  docs/tutorials/dev_add_rrm.rst
  docs/users_guide/landice/test_groups/antarctica.rst
  docs/users_guide/landice/test_groups/greenland.rst
  docs/users_guide/landice/test_groups/ismip6_run.rst
  docs/users_guide/landice/test_groups/mesh_modifications.rst
  docs/users_guide/ocean/framework/mesh.rst
  setup.py
Labels: documentation, land ice, clean-up, dependencies and deployment
