Repository MPAS-Dev/compass, pull requests merged in 2025-01, with the labels that each got.

#872 Adds WOA 23 SSS restoring file script
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/utility/__init__.py
  compass/ocean/tests/utility/create_salin_restoring/__init__.py
  compass/ocean/tests/utility/create_salin_restoring/extrap_salin.py
  compass/ocean/tests/utility/create_salin_restoring/salinity_restoring.py
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/developers_guide/ocean/test_groups/utility.rst
  docs/users_guide/ocean/test_groups/utility.rst
Labels: enhancement

#861 Added `cubed_sphere` target grid test to `utility/combine_topo`
  compass/ocean/tests/utility/__init__.py
  compass/ocean/tests/utility/combine_topo/__init__.py
  compass/ocean/tests/utility/combine_topo/combine_topo.cfg
  docs/developers_guide/ocean/test_groups/utility.rst
  docs/users_guide/ocean/test_groups/utility.rst
Labels: enhancement, ocean

#863 Modified `ocean/mesh/remap_topography` to allow smoothing
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
  compass/ocean/cached_files.json
  compass/ocean/mesh/low_res_topography.cfg
  compass/ocean/mesh/remap_topography.cfg
  compass/ocean/mesh/remap_topography.py
  docs/conf.py
  docs/developers_guide/ocean/framework.rst
  docs/users_guide/ocean/framework/mesh.rst
  docs/users_guide/ocean/test_groups/global_ocean.rst
Labels: enhancement, ocean

#883 Add smoothing to remapping of SSS restoring
  compass/ocean/tests/global_ocean/files_for_e3sm/remap_sea_surface_salinity_restoring.py
  compass/ocean/tests/global_ocean/global_ocean.cfg
  compass/ocean/tests/utility/create_salin_restoring/__init__.py
  compass/ocean/tests/utility/create_salin_restoring/combine.py
  compass/ocean/tests/utility/create_salin_restoring/create_salin_restoring.cfg
  compass/ocean/tests/utility/create_salin_restoring/extrap.py
  compass/ocean/tests/utility/create_salin_restoring/remap.py
  docs/developers_guide/ocean/api.rst
  docs/developers_guide/ocean/test_groups/global_ocean.rst
  docs/developers_guide/ocean/test_groups/utility.rst
  docs/users_guide/ocean/test_groups/utility.rst
Labels: enhancement, ocean

#884 Add `pre-commit` autoupdate workflow
  .github/workflows/pre_commit_update_workflow.yml
Labels: ci

#886 In CI, use a unique cache directory for each python version
  .github/workflows/build_workflow.yml
Labels: bug, ci
